<!DOCTYPE html>
<html>
<head>
<title>mingxuanSpace</title>
</head>
<style>
@font-face {
	font-family: 'Comfortaa-Regular';
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'), url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'), url('../fonts/Comfortaa/Comfortaa-Regular.svg') format('svg');
}

body {
	margin: 0;
	padding: 0;
}

body #header {
	width: 1200px;
	height: 180px;
	background-color: black;
	margin: 0 auto;
	box-shadow: 0 0 15px 5px #888888 inset;
}

body #header #titleplace {
	font-family: 'Comfortaa-Regular';
	width: 750px;
	padding: 136px 0 0 0;
	margin: 0 0 0 450px;
	font-size: 50px;
	color: white;
	overflow: hidden;
}

body #body {
	margin: 0 auto;
	width: 1200px;
	height: 1000px;
	box-shadow: 0 0 15px 5px #888888 inset;
}

body #foot {
	width: 1200px;
	height: 199px;
	background-color: black;
	margin: 0 auto 50px;
	padding: 1px 0 0 0;
	box-shadow: 0 0 15px 5px #888888 inset;
}

body #foot #contactinfo {
	margin: -22px 0 0 50px;
	font-family: 'Comfortaa-Regular';
	font-size: 30px;
	color:white;
}
</style>
<body>
	<div id='header'>
		<div id='titleplace'>Mingxuan's Personal Website</div>
	</div>
	<div id='body'></div>
	<div id='foot'>
		<div id='contactinfo'>ContactInfo</div>
	</div>

</body>
</html>